*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* -------------------- Utilites --------------------- */
.btn{
    padding: 10px 30px;
    border-radius: 25px;
    color: #FFFFFF;
    background: #dd257b;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
}
.btn i{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 12px;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin: auto;
}
section{
    margin: 80px 0;
}



/* -------------------- Header --------------------- */
header{
    padding: 60px 0;
}
header .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content-wrapper .logo h2{
    font-size: 28px;
    font-weight: 700;
}
header .content-wrapper .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .content-wrapper .menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .content-wrapper .menu ul li{
    margin: 0 12px;
}
header .content-wrapper .menu ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}
header .content-wrapper .menu ul li i{
    cursor: pointer;
}
/* --------------xxx--- Header ---xxx--------------- */



/* -------------------- Hero --------------------- */
.hero .content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .content-wrapper .left-content, .hero .content-wrapper .right-content{
    max-width: 50%;
    width: 100%;
}
.hero .content-wrapper .left-content h1{
    font-size: 50px;
    color: #494949;
}
.hero .content-wrapper .left-content p{
    font-size: 18px;
    color: #494949;
    margin: 25px 0;
}
.hero .content-wrapper .right-content img{
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
}
/* --------------xxx--- Hero ---xxx--------------- */



/* -------------------- Company --------------------- */
.company{
    margin: 120px 0;
}
.company .content-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    padding: 25px 0;
}
/* --------------xxx--- Company ---xxx--------------- */



/* -------------------- Products --------------------- */
.products-section .products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.products-section .heading{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
.products-section .products .product{
    padding: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
.products-section .products .product img{
    border-radius: 7px;
    width: 100%;
}
.products-section .products .product .product-title{
    font-size: 28px;
    margin: 10px 0;
    font-weight: 600;
}
.products-section .products .product .price{
    font-size: 24px;
    font-weight: 400;
    color: #ee168d;
}
.products-section .products .product .rating{
    margin: 10px 0;
}
.products-section .products .product .rating i{
    font-size: 17px;
}
.products-section .products .product .rating i.filled{
    color: #ffa500;
}
.products-section .products .product .rating i.unfilled{
    color: #dddddd;
}
.products-section .products .product .description{
    font-size: 16px;
    margin: 10px 0;
}
/* --------------xxx--- Products ---xxx--------------- */



/* -------------------- Features --------------------- */
.features .content-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
}
.features .heading{
    font-size: 32px;
    margin-bottom: 25px;
    text-align: center;
}
.features .left-content, .features .right-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features .right-content .title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}
.features .right-content ul li{
    margin: 10px 0;
    font-size: 18px;
}
/* --------------xxx--- Features ---xxx--------------- */



/* -------------------- Footer --------------------- */
footer{
    padding: 50px 0;
    background: #1b2c41;
    text-align: center;
}
footer .heading{
    color: #FFFFFF;
}
footer p{
    color: #e0e0e0;
    margin: 12px 0;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li{
    margin: 7px 12px;
    border-radius: 50%;
    background: rgba(172, 171, 171, 0.144);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li a{
    text-decoration: none;
    color: #FFFFFF;
}
/* --------------xxx--- Footer ---xxx--------------- */